$fs: 15;
/*@font-face {
	font-family: 'SVN-Hello Sunshine';
	src: url('../fonts/SVN-HelloSunshine.eot');
	src: url('../fonts/SVN-HelloSunshine.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SVN-HelloSunshine.woff') format('woff'),
		url('../fonts/SVN-HelloSunshine.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SVN-Hello Sunshine Marker';
	src: url('../fonts/SVN-HelloSunshineMarker.eot');
	src: url('../fonts/SVN-HelloSunshineMarker.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SVN-HelloSunshineMarker.woff') format('woff'),
		url('../fonts/SVN-HelloSunshineMarker.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/
@import 'slider.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'custom.scss';
@import 'home.scss';
@import 'banner.scss';
@import 'tour.scss';
@import 'event.scss';
@import 'contact';
@import 'domestictour';
@import 'banner.scss';
@import 'teambuilding';
@import 'chatbox';
@import 'quill';
@import 'finding';

/* backend */
