.loginFacbook {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  width: 200px;
  background-color: #4c69ba;
  border: none;
  font-size: 14px;
}
.loginGoogle {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  width: 200px;
  background-color: rgb(209, 72, 54);
  border: none;
  margin-top: 5px;
  font-size: 14px;
}
.fa-facebook {
  padding-right: 5px;
}
.fa-google {
  margin-left: -14px;
}
.metro {

}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}
